<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EFC" connectionString="Data Source=DESKTOP-0RLBLN2\SQLEXPRESS;Initial Catalog = Quiz;Persist Security Info=True;User ID=root;Password=root;TrustServerCertificate=True" />
	</connectionStrings>
</configuration>

